{% extends "base.html" %}
{% block title %}
Detete Student
{% endblock %}
{% block content %}
<h1>Are You want to delete!</h1>
<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Name</th>
    <th>Roll</th>
    <th>Dept</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ st.name }}</td>
    <td>{{ st.roll }}</td>
    <td>{{ st.dept }}</td>
    <td>{{ st.email }}</td>
  </tr>
  </tbody>
</table>
<form action="" method="POST">
	{% csrf_token %}
	<input type="submit" value="Delete" class="btn btn-primary">
</form>
{% endblock %}
